DATABASE_URL='postgresql://neondb_owner:npg_zOm6y2duoYRZ@ep-green-frost-ap93z4k5-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
GEMINI_API_KEY=AIzaSyBae_Y7-qv5TO8IX0Ffn3y7dmmKIHyarqE